services:
  - type: web
    name: mt5-simulator
    runtime: python
    python:
      version: "3.9.18"
    region: oregon
    plan: free
    buildCommand: |
      python --version
      pip install --upgrade pip
      pip install -r requirements.txt
    startCommand: uvicorn fin:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHONUNBUFFERED
        value: "1"
      - key: RENDER
        value: "true"
      - key: PYTHON_VERSION
        value: "3.9.18"
