services:
  - type: web
    name: mt5-simulator
    runtime: python
    python:
      version: "3.9.18"
    region: oregon
    plan: free
    buildCommand: |
      python --version
      pip install --upgrade pip
      pip install -r requirements.txt
    startCommand: gunicorn fin:app --worker-class uvicorn.workers.UvicornWorker --workers 1 --bind 0.0.0.0:$PORT --timeout 120
    envVars:
      - key: PYTHONUNBUFFERED
        value: "1"
      - key: RENDER
        value: "true"
      - key: PYTHON_VERSION
        value: "3.9.18"
